<div class="card auth-card">
    <div class="position-relative image-side p-0"></div>
    <div class="form-side">
        <h6 class="mb-4">Digita tu correo para resetear tu contraseña</h6>
        <form>
            <label class="form-group has-float-label mb-4">
                <input class="form-control" />
                <span>Correo</span>
            </label>

            <div class="d-flex justify-content-end align-items-center">
                <button class="btn btn-primary btn-lg btn-shadow" type="submit">Resetear</button>
            </div>
        </form>
    </div>
</div>