<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Socios</h1>

            <div class="separator"></div>
            <button class="btn btn-primary mb-3 mt-3">
                Matricular Socio
            </button>
        </div>
    </div>

    <div class="card p-3">
        <table datatable [dtOptions]="dtOptions" class="table" width="100%">
            <thead>
                <tr>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Sexo</th>
                    <th>Fecha Nacimiento</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>Tipo Socio</th>
                    <th>Tipo Afiliación</th>
                    <th>Fecha Ingreso</th>
                    <th>Estado</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let socio of socios">
                    <td>{{ socio.cedula }}</td>
                    <td>{{ socio.nombre }}</td>
                    <td>{{ socio.apellido1 }} {{ socio.apellido2 }}</td>
                    <td>{{ socio.sexo }}</td>
                    <td>{{ socio.fechaNacimiento }}</td>
                    <td>{{ socio.telefono1 }}</td>
                    <td>{{ socio.correo }}</td>
                    <td>{{ socio.tipoSocio }}</td>
                    <td>{{ socio.tipoAfiliacion }}</td>
                    <td>{{ socio.fechaIngreso }}</td>
                    <td>{{ socio.estado }}</td>
                    <td class="btn-group" dropdown>
                        <button id="button-animated" dropdownToggle type="button"
                            class="btn btn-primary dropdown-toggle" aria-controls="dropdown-animated">
                            Acción <span class="caret"></span>
                        </button>
                        <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu"
                            aria-labelledby="button-animated">
                            <li role="menuitem"><a class="dropdown-item">Modificar</a></li>
                            <li role="menuitem"><a class="dropdown-item">Eliminar</a></li>
                            <li role="menuitem"><a class="dropdown-item">Consultar Asistencia</a></li>
                            <li role="menuitem"><a class="dropdown-item">Limpiar Saldos</a></li>

                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>