<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Socios</h1>

            <div class="separator"></div>
            <button class="btn btn-primary mb-3 mt-3" (click)="matricularSocio(addEditCarneVirtual)">
                Matricular Socio
            </button>
        </div>
    </div>

    <div class="card p-3">
        <table datatable [dtOptions]="dtOptions" class="table">
            <thead>
                <tr>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Sexo</th>
                    <th>Fecha Nacimiento</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>Tipo Socio</th>
                    <th>Tipo Afiliación</th>
                    <th>Fecha Ingreso</th>
                    <th>Estado</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let socio of socios">
                    <td>{{ socio.cedula }}</td>
                    <td>{{ socio.nombre }}</td>
                    <td>{{ socio.apellido1 }} {{ socio.apellido2 }}</td>
                    <td>{{ socio.sexo }}</td>
                    <td>{{ socio.fechaNacimiento }}</td>
                    <td>{{ socio.telefono1 }}</td>
                    <td>{{ socio.correo }}</td>
                    <td>{{ socio.tipoSocio }}</td>
                    <td>{{ socio.tipoAfiliacion }}</td>
                    <td>{{ socio.fechaIngreso }}</td>
                    <td>{{ socio.estado }}</td>
                    <td class="btn-group" dropdown>
                        <button id="button-animated" dropdownToggle type="button"
                            class="btn btn-primary dropdown-toggle" aria-controls="dropdown-animated">
                            Acción <span class="caret"></span>
                        </button>
                        <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu"
                            aria-labelledby="button-animated">
                            <li role="menuitem" (click)="editarSocio(addEditCarneVirtual)"><a
                                    class="dropdown-item">Modificar</a></li>
                            <li role="menuitem"><a class="dropdown-item">Eliminar</a></li>
                            <li role="menuitem"><a class="dropdown-item">Consultar Asistencia</a></li>
                            <li role="menuitem" (click)="limpiarSaldo(limpiarSaldos)"><a class="dropdown-item">Limpiar Saldos</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<ng-template #addEditCarneVirtual>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{ addSocio ? 'Añadir Carné Virtual' : 'Editar Carné Virtual' }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form id="exampleForm" class="tooltip-label-right" novalidate>
            <div class="form-group position-relative error-l-50">
                <label>Cedula</label>
                <input type="text" class="form-control" required>
            </div>

            <div class="form-group position-relative error-l-50">
                <label>Nombre</label>
                <input type="text" class="form-control" required>
            </div>

            <div class="form-group position-relative error-l-50">
                <label>Primer Apellido</label>
                <input type="text" class="form-control" required>
            </div>

            <div class="form-group position-relative error-l-50">
                <label>Segundo Apellido</label>
                <input type="text" class="form-control" required>
            </div>

            <div class="form-group position-relative error-l-50">
                <label>Fecha de nacimiento</label>
                <div class="input-group date" data-provide="datepicker">
                    <input type="date" class="form-control">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>

            <div class="form-group position-relative error-l-50">
                <label>Sexo</label>
                <select class="custom-select" required>
                    <option value=""></option>
                    <option value="Femenino">Femenino</option>
                    <option value="Masculino">Masculino</option>
                </select>
            </div>

            <div class="form-group position-relative error-l-50">
                <label>Teléfono 1</label>
                <input type="text" class="form-control" required>
            </div>

            <div class="form-group position-relative error-l-50">
                <label>Teléfono 2</label>
                <input type="text" class="form-control" required>
            </div>

            <div class="form-group position-relative error-l-50">
                <label>Correo electrónico</label>
                <input type="text" class="form-control" required>
            </div>

            <div class="form-group position-relative error-l-50">
                <label>Tipo de socio</label>
                <select class="custom-select" required>
                    <option value=""></option>
                </select>
            </div>

            <div class="form-group position-relative error-l-50">
                <label>Tipo de afiliación</label>
                <select class="custom-select" required>
                    <option value=""></option>
                    <option value="Semanal">Semanal</option>
                    <option value="quincenal">Quincenal</option>
                    <option value="mensual">Mensual</option>
                    <option value="trimestral">Trimestral</option>
                    <option value="semestral">Semestral</option>
                    <option value="anual">Anual</option>
                    <option value="estudiante">Estudiante</option>
                    <option value="especial">Especial</option>
                    <option value="cortesia">Cortesía</option>
                </select>
            </div>

            <div class="form-group position-relative error-l-50">
                <label>Fecha de ingreso</label>
                <div class="input-group date" data-provide="datepicker">
                    <input type="date" class="form-control">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">{{ addSocio ? 'Añadir' : 'Editar' }}</button>
        </form>
    </div>
</ng-template>


<ng-template #limpiarSaldos>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Limpiar Saldos</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Saldo Cuotas</th>
                    <th>Saldo Productos</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <button class="btn btn-primary mt-3">Limpiar</button>
    </div>
</ng-template>