<div class="row">

    <div class="col-6">
        <button class="btn btn-primary">Entrada</button>
    </div> 

    <div class="col-6 text-right">
        <button class="btn btn-primary">Salida</button>
    </div>
</div>


<div class="row">
    <div class="col-6">
        <table datatable [dtOptions]="dtOptions">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Afiliación</th>
                    <th>Cuota</th>
                    <th>Abono Cuotas</th>
                    <th>Abono Prod</th>
                    <th>Total Pagado</th>
                    <th>Recibo</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="col-6">
        <table datatable [dtOptions]="dtOptions">
            <thead>
                <tr>
                    <th>Entrada</th>
                    <th>Salida</th>
                </tr>
            </thead>
        </table>
    </div>
</div>