<div class="card auth-card">
    <div class="position-relative image-side p-0"></div>
    <div class="form-side">

        <accordion [isAnimated]="true">
            <accordion-group heading="Por ID Socio">
                <label class="form-group has-float-label mb-4">
                    <input class="form-control" type="password" placeholder="" />
                    <span>ID Socio</span>
                </label>
            </accordion-group>
            <accordion-group heading="Por Código QR">
                <label class="form-group has-float-label mb-4">
                    <div id="qrcode text-center">
                        <img
                            src="https://www.codigos-qr.com/qr/php/qr_img.php?d=wwwhttp%3A%2F%2Fwww.estonoexiste.com%2F&s=6&e=m" />
                    </div>
                    <span>Código QR</span>
                </label>
            </accordion-group>
        </accordion>

        <div class="d-flex justify-content-between align-items-center mt-2">
            <button class="btn btn-primary btn-lg btn-shadow" type="submit">Registrar</button>
        </div>

    </div>
</div>